<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Ativo?:</strong>
    <%= user.active ? "Sim" : "Não" %>
  </p>
</div>
